<launch>

  <param name="robot_description"
	 textfile="$(find hpp_tutorial)/urdf/pr2.urdf"/>
  <node name="robot_state_publisher"
	pkg="robot_state_publisher"
	type="state_publisher"
	respawn="true">
    <param name="tf_prefix" value=""/>
  </node>
	
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"
	args="-d $(find hpp_tutorial)/rviz/config.rviz">
  </node>
</launch>
